AzureResources:
  subscriptionID: ${subscription_id}
  AKS:
    name: ${aks_name}
    ResourceGroup: ${aks_rg_name}
  ACR:
    name: ${acr_name}
    ResourceGroup: ${aks_rg_name}
  backendStorageSystem:
    storageAccountName: ${storage_account_name}
    ResourceGroup: ${aks_rg_name}
    continerName: ${container_name}